
<div class="popup popup-voucher-success active">
  <div class="popup-backdrop" ng-click="modal.close($event)"></div>
  <div class="popup-inner"><a class="popup-close mdi mdi-close" href="#" ng-click="modal.close($event)"></a>
    <div class="modal-success">
      <div class="modal-success-title"><em class="mdi" ng-class="modal.icon"> </em>{{ modal.title }}</div>
      <div class="modal-success-desc" ng-bind="modal.desc"></div>
      <div class="modal-success-desc-lg" ng-bind="modal.descLg"></div>
    </div>
  </div>
</div>